<img border='0' src='static/remotes/edision1/rc.png' usemap='#map' >
<map name="map">
	<area shape="circle" coords="68,37,20" alt="POWER" onclick="pressMenuRemote('116');">
	<area shape="circle" coords="28,51,18" alt="MUTE" onclick="pressMenuRemote('113');">
	<area shape="circle" coords="30,75,16" alt="TV" onclick="pressMenuRemote('377');">
	<!--area shape="circle" coords="30,75,16" alt="radio" onclick="pressMenuRemote('377');"-->
	<area shape="circle" coords="30,94,16" alt="HELP" onclick="pressMenuRemote('138');">

	<area shape="circle" coords="35,260,12" alt="EXIT" onclick="pressMenuRemote('174');">
	<area shape="circle" coords="68,270,16" alt="PVR" onclick="pressMenuRemote('366');">
	<area shape="circle" coords="100,260,12" alt="EPG" onclick="pressMenuRemote('365');">

	<area shape="circle" coords="26,129,16" alt="Subtitle" onclick="pressMenuRemote('370');">
	<area shape="circle" coords="54,123,16" alt="MEDIA" onclick="pressMenuRemote('395');">
	<area shape="circle" coords="83,123,16" alt="PORTAL" onclick="pressMenuRemote('150');">
	<area shape="circle" coords="111,130,16" alt="TIMER" onclick="pressMenuRemote('362');">
	<area shape="circle" coords="26,155,16" alt="TEXT" onclick="pressMenuRemote('388');">
	<area shape="circle" coords="53,146,16" alt="AUDIO" onclick="pressMenuRemote('392');">
	<area shape="circle" coords="83,146,16" alt="VIDEO" onclick="pressMenuRemote('371');">
	<area shape="circle" coords="111,155,16" alt="FAV" onclick="pressMenuRemote('364');">

	<area shape="circle" coords="49,177,16" alt="MENU" onclick="pressMenuRemote('139');">
	<area shape="circle" coords="88,177,16" alt="INFO" onclick="pressMenuRemote('358');">
	<area shape="circle" coords="24,202,16" alt="VolumeUP" onclick="pressMenuRemote('115');">
	<area shape="circle" coords="20,230,16" alt="VolumeDown" onclick="pressMenuRemote('114');">
	<area shape="circle" coords="113,202,16" alt="ChannelUp" onclick="pressMenuRemote('402');">
	<area shape="circle" coords="117,230,16" alt="ChannelDown" onclick="pressMenuRemote('403');">

	<area shape="circle" coords="69,197,16" alt="UP" onclick="pressMenuRemote('103');">
	<area shape="circle" coords="69,247,16" alt="DOWN" onclick="pressMenuRemote('108');">
	<area shape="circle" coords="44,222,16" alt="LEFT" onclick="pressMenuRemote('105');">
	<area shape="circle" coords="94,222,16" alt="RIGHT" onclick="pressMenuRemote('106');">
	<area shape="circle" coords="69,221,16" alt="OK" onclick="pressMenuRemote('352');">

	<area shape="circle" coords="33,289,16" alt="REWIND" onclick="pressMenuRemote('168');">
	<area shape="circle" coords="68,292,16" alt="PLAYPAUSE" onclick="pressMenuRemote('164');">
	<area shape="circle" coords="103,289,16" alt="FASTVORWARD" onclick="pressMenuRemote('208');">
	<area shape="circle" coords="33,311,16" alt="STOP" onclick="pressMenuRemote('128');">
	<area shape="circle" coords="37,410,16" alt="CONTEXT" onclick="pressMenuRemote('438');">
	<area shape="circle" coords="103,311,16" alt="RECORD" onclick="pressMenuRemote('167');">

	<area shape="circle" coords="29,337,12" alt="RED" onclick="pressMenuRemote('398');">
	<area shape="circle" coords="55,345,12" alt="GREEN" onclick="pressMenuRemote('399');">
	<area shape="circle" coords="81,345,12" alt="YELLOW" onclick="pressMenuRemote('400');">
	<area shape="circle" coords="106,337,12" alt="BLUE" onclick="pressMenuRemote('401');">

	<area shape="circle" coords="33,366,12" alt="1" onclick="pressMenuRemote('2');">
	<area shape="circle" coords="68,368,12" alt="2" onclick="pressMenuRemote('3');">
	<area shape="circle" coords="103,366,12" alt="3" onclick="pressMenuRemote('4');">
	<area shape="circle" coords="34,389,12" alt="4" onclick="pressMenuRemote('5');">
	<area shape="circle" coords="68,389,12" alt="5" onclick="pressMenuRemote('6');">
	<area shape="circle" coords="103,389,12" alt="6" onclick="pressMenuRemote('7');">
	<area shape="circle" coords="35,411,12" alt="7" onclick="pressMenuRemote('8');">
	<area shape="circle" coords="68,412,12" alt="8" onclick="pressMenuRemote('9');">
	<area shape="circle" coords="103,411,12" alt="9" onclick="pressMenuRemote('10');">
	<area shape="circle" coords="36,432,12" alt="ARROWLEFT" onclick="pressMenuRemote('412');">
	<area shape="circle" coords="68,434,12" alt="0" onclick="pressMenuRemote('11');">
	<area shape="circle" coords="100,432,12" alt="ARROWRIGHT" onclick="pressMenuRemote('407');">
</map>
