<img border='0' src='static/remotes/dinobot/rc.png' usemap='#map' >
<map name="map">
	<area shape="circle" coords="41,345,9" alt="tv" onclick="pressMenuRemote('377');">
	<area shape="circle" coords="105,343,9" alt="radio" onclick="pressMenuRemote('385');">
	<area shape="circle" coords="44,423,9" alt="text" onclick="pressMenuRemote('388');">
	<area shape="circle" coords="103,404,9" alt="help" onclick="pressMenuRemote('138');">
	<area shape="circle" coords="101,84,9" alt="video" onclick="pressMenuRemote('393');">
	<area shape="circle" coords="74,298,9" alt="audio" onclick="pressMenuRemote('392');">
	<area shape="circle" coords="100,18,9" alt="mute" onclick="pressMenuRemote('113');">
	<area shape="circle" coords="105,259,9" alt="exit" onclick="pressMenuRemote('174');">
	<area shape="circle" coords="46,171,9" alt="next" onclick="pressMenuRemote('407');">
	<area shape="circle" coords="74,171,9" alt="0" onclick="pressMenuRemote('11');">
	<area shape="circle" coords="101,171,9" alt="previous" onclick="pressMenuRemote('412');">
	<area shape="circle" coords="101,152,9" alt="9" onclick="pressMenuRemote('10');">
	<area shape="circle" coords="74,152,9" alt="8" onclick="pressMenuRemote('9');">
	<area shape="circle" coords="46,152,9" alt="7" onclick="pressMenuRemote('8');">
	<area shape="circle" coords="101,131,9" alt="6" onclick="pressMenuRemote('7');">
	<area shape="circle" coords="74,131,9" alt="5" onclick="pressMenuRemote('6');">
	<area shape="circle" coords="46,131,9" alt="4" onclick="pressMenuRemote('5');">
	<area shape="circle" coords="101,111,9" alt="3" onclick="pressMenuRemote('4');">
	<area shape="circle" coords="74,111,9" alt="2" onclick="pressMenuRemote('3');">
	<area shape="circle" coords="46,111,9" alt="1" onclick="pressMenuRemote('2');">
	<area shape="circle" coords="105,440,9" alt="blue" onclick="pressMenuRemote('401');">
	<area shape="circle" coords="84,440,9" alt="yellow" onclick="pressMenuRemote('400');">
	<area shape="circle" coords="63,440,9" alt="green" onclick="pressMenuRemote('399');">
	<area shape="circle" coords="43,440,9" alt="red" onclick="pressMenuRemote('398');">
	<area shape="circle" coords="48,19,9" alt="power" onclick="pressMenuRemote('116');">
	<area shape="circle" coords="74,207,10" alt="up" onclick="pressMenuRemote('103');">
	<area shape="circle" coords="74,255,10" alt="down" onclick="pressMenuRemote('108');">
	<area shape="circle" coords="97,230,10" alt="right" onclick="pressMenuRemote('106');">
	<area shape="circle" coords="49,230,10" alt="left" onclick="pressMenuRemote('105');">
	<area shape="circle" coords="74,230,12" alt="ok" onclick="pressMenuRemote('352');">
	<area shape="circle" coords="104,324,9" alt="bouquet down" onclick="pressMenuRemote('403');">
	<area shape="circle" coords="104,289,9" alt="bouquet up" onclick="pressMenuRemote('402');">
	<area shape="circle" coords="42,325,9" alt="volume down" onclick="pressMenuRemote('114');">
	<area shape="circle" coords="42,290,9" alt="volume up" onclick="pressMenuRemote('115');">
	<area shape="circle" coords="42,259,9" alt="menu" onclick="pressMenuRemote('139');">
	<area shape="circle" coords="105,199,9" alt="info" onclick="pressMenuRemote('358');">
	<area shape="circle" coords="104,422,9" alt="usb" onclick="pressMenuRemote('64');">
</map>
